<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="banner">
        <h1>Welcome to Our Food Ordering Website</h1>
    </div>
    <div class="tabs">
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <a href="/driver_signup">Driver Sign Up</a>
        <a href="/settings">Settings</a>
    </div>
    <div class="slideshow">
        <div class="slideshow">
            <div class="restaurant">
                <!--Make CHic Fil A into a link to another page (R1.html)-->
                <a href="/R1">
                <img src="static\chikFilA.PNG" alt="Restaurant 1">
                </a>
            </div>
            <div class="restaurant">
                <a href="/R2">
                <img src="static\JackinBox.PNG" alt="Restaurant 2">
                </a>
            </div>
            <div class="restaurant">
                <a href="/R3">
                <img src="static\PizzaHut.PNG" alt="Restaurant 3">
                </a>
            </div>
            <!-- Add more restaurant images as needed -->
        </div>        
    </div>
</body>
</html>
